* {
  border: none;
}

window {
  font-family: monospace;
  font-size: 14pt;
  background-color: rgba(30, 30, 46, 0.5);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: rgba(30, 30, 46, 0);
  margin: 5px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
  background-color: rgb(31, 29, 46);
}

#lock {
  background-image: image(
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
